@font-face {
  font-family: "iranyekan";
  src: url("../fonts/iranyekan/eot/iranyekanwebregular.eot?#"), url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype"), url("../fonts/iranyekan/svg/iranyekanwebregular.svg") format("svg"), url("../fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff");
}
@font-face {
  font-family: "iranyekan_number";
  src: url("../fonts/iranyekan_numbers/eot/iranyekanwebbold(fanum).eot?#"), url("../fonts/iranyekan_numbers/ttf/iranyekanwebbold(fanum).ttf") format("truetype"), url("../fonts/iranyekan_numbers/svg/iranyekanwebbold(fanum).svg") format("svg"), url("../fonts/iranyekan_numbers/woff/iranyekanwebbold(fanum).woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan_number", "iranyekan";
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "iranyekan";
}

header#header {
  border-bottom: 1px solid black;
}

.main_menu {
  margin: 0px 30px;
  padding: 20px 0;
}

.accountUser-cart {
  float: right;
  border-radius: 5px;
  background-color: #f5eee4;
  display: flex;
}

.account-box {
  display: flex;
  padding: 10px;
}

.login-box a {
  color: #000;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}

.login-box::after {
  content: "|";
  margin-left: 5px;
}

.register-box a {
  color: #000;
  text-decoration: none;
}

.register-box a:hover {
  text-decoration: underline;
}

.logo_area {
  width: 300px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
  text-align: center;
  background-color: #f5eee4;
  border-radius: 0 0 20px 20px;
  padding-bottom: 15px;
}

.logo_area a {
  width: 100%;
  height: 100%;
}

.logo_area img {
  padding-top: 15px;
}

.inner_main_menu {
  margin: 0 auto;
  width: 700px;
  position: relative;
  margin-top: -70px;
}

.inner_main_menu > ul#menu {
  margin: 0;
  padding: 80px 0 0;
  list-style: none;
  text-align: right;
}

.inner_main_menu ul li {
  float: none;
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.inner_main_menu ul li > a {
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.inner_main_menu ul li > a:hover {
  color: #281c1c;
  text-decoration: underline;
}

.inner_main_menu ul li:nth-child(3) {
  float: left;
}

.inner_main_menu ul li:nth-child(4) {
  float: left;
}

.search-consulting {
  float: left;
  margin-top: -60px;
  margin-left: 20px;
  width: 180px;
}

.search-consulting > button.search-bar {
  float: right;
  border: none;
  border-radius: 5px;
  padding: 8px 13px;
  margin-left: 5px;
  background-color: #f5eee4;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 5px;
}

.search-consulting > button.search-bar:hover {
  background-color: #e3dbd0;
}

.search-consulting > button.search-bar > i.fa {
  color: #918d84;
}

.consulting .consulting-phone {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  display: inline-block;
  font-size: 12px;
}

.consulting > .consulting-title {
  margin: 0;
}

/*# sourceMappingURL=header.css.map */
