//header
@import "header";
@import "footer";
//start main pages

//start page product
.box-product {
  border: 1px solid #ccc;
  margin-top: 30px;
  border-radius: 20px;
}

.main-product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 20px;
  padding: 90px;
  justify-content: space-around;
}

.photo-product {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.main-photo-product {
  border-radius: 10px;
  overflow: hidden;
}

.main-photo-product img {
  width: 300px;
}

.color-sofa {
  margin-top: 30px;
  display: flex;
}

.box-color-sofa-white {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.box-color-sofa-silver {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.box-color-sofa-silver button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: silver;
  border-radius: 5px;
}

.box-color-sofa-silver p {
  text-align: center;
  font-size: 13px;
}

.box-color-sofa-white button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.box-color-sofa-white p {
  text-align: center;
  font-size: 13px;
}

.box-color-sofa-gold {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.box-color-sofa-gold button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: darkgoldenrod;
  border-radius: 5px;
}

.box-color-sofa-gold p {
  text-align: center;
  font-size: 13px;
}

.title-description-product {
  background-color: #bd9e70;
  padding: 10px;
  border-radius: 10px;
}

.title-description-product h2 {
  color: #fff;
}

.price-description-product {

  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  text-align: center;
  justify-content: center;

}

.price-description-product p {
  border-radius: 10px;
  text-align: center;
  color: #7a7270;
  background-color: #f5eee4;
  padding: 10px;
}

.description {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.description p {
  margin: 0;
  margin-bottom: 5px;
}

.select-color-sofa {
  margin-top: 20px;
}

.select-color-sofa p {
  font-size: 22px;
  margin: 0;
  margin-bottom: 5px;
}

.select-color-sofa select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select-size-sofa {
  margin-top: 20px;
}

.select-size-sofa select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.select-size-sofa p {
  font-size: 22px;
  margin: 0;
  margin-bottom: 5px;
}

.counter-product {
  margin-top: 20px;
  display: inline-block;
}

.counter {
  width: auto;
  display: flex;
  //align-items: center;
  //justify-content: center;

}

.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  color: #000;
  appearance: none;
  outline: 0;
  border: 1px solid #ccc;

}

.counter span:nth-child(1) {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.counter span:nth-child(3) {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #000;
  user-select: none;
  border: 1px solid #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.counter span:hover {
  background-color: #f1eeee;
}

.add-to-card {
  display: inline;
  text-align: left;
  float: left;
  margin-top: 30px;
}

.add-to-card a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: #3bae09;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.add-to-card a:hover {
  background-color: #329706;
}

.tabs-description {
  width: 100%;
  display: block;
  //border: 1px solid red;
  margin: 20px 0;
  //border-bottom: 1px solid #ccc;
}

.tab_container_area {
  border-top: 1px solid #ccc;
}

.tab_navigation li {
  //display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}

.tab_navigation li.active,
.tab_navigation li:hover {
  //background-color: red;
  border-bottom: 3.5px solid #bd9e70;
}

.tab_container {
  padding: 10px;
  display: none;
}

ul.tab_navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul.tab_navigation li {
  margin: 0 10px;
}

//end  page product

//start index page

.list-products {
  margin-top: 20px;
}

.list-products ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-products ul li {
  margin: 0 10px;

}

.list-products ul li a {
  color: #fff;
  text-decoration: none;
  background-color: #bd9e70;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.list-products ul li a:hover {
  background-color: #c3934c;
}

.section-top-start {
  //border: 1px solid red;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titles-section-top-start {
  //border: 1px solid red;
}

.titles-section-top-start > p.title-section-top-start {
  text-align: center;
  font-size: 25px;
  font-weight: 900 !important;
}

.titles-section-top-start > p.title-section-top-start::after {
  content: "";
  display: block;
  width: 2px;
  height: 180px;
  margin: 0 auto;
  background: black;
}

.titles-section-top-start {
  text-align: center;

}

.titles-section-top-start > p.title-2-titles-section-top-start {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #bd9e70;
  display: inline-block;
}

.photo-section-top-start {
  position: relative;
  //border: 1px solid blue;
}

.photo-section-top-start img {
  width: 400px;
  //position: absolute;
  display: block;
  margin: 0 auto;

}

.photo-section-top-start:before {
  content: "";
  display: block;
  width: 230px;
  height: 340px;
  position: absolute;
  background: #f5eee5;
  top: -40px;
  left: -10px;
  z-index: -222;
}

.photo-section-top-start:after {
  content: 'Tina Accessory';
  position: absolute;
  bottom: 105px;
  left: -38px;
  font-weight: 600;
  font-size: 25px;
  transform: rotate(269deg);

}

.amazing-offers {
  //border: 1px solid red;
  margin-top: 50px;
  min-height: 550px;
  background-color: #bd9e70;
}

.amazing-offers .container > h2.title-amazing-offers {
  text-align: center;
  color: #fff;
  font-size: 35px;
  padding: 20px 0;
}


.container-carousel {
  width: 75%;
  margin: 0 auto;
  display: block;
}

.owl-stage-outer {
  padding: 42px 0;
}

ul.owl-carousel-2 {
  //border: 1px solid red;
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

.carousel-1 ul::after {
  clear: both;
  content: "";
  display: block;
}

.carousel-1 ul li {
  float: right;
  //position: relative;

  overflow: hidden;
  //border-radius: 30px;
  margin: 20px 10px !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carousel-1 ul li:hover {
  transform: translateY(-20px);
}

#my-carousel-article ul li img {
  //position: relative;
  z-index: -5;
}

.title-price-item-carousel {
  position: relative;
  bottom: 30px;
  //z-index: 22234;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  //margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.title-price-item-carousel h2 {
  border-bottom: 2px solid #cccccc;
  display: inline-block;
  //width: 153px;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.title-price-item-carousel > span.price1-title-price-item-carousel {
  color: #3bae09;
}

.title-price-item-carousel > del.price2-title-price-item-carousel {
  color: #7a7171;
}

a.add-to-card-carousel {
  margin: 0 auto;
  display: block;
  width: 70%;
  margin-top: -25px;
  text-align: center;
  border-radius: 30px;
  background-color: #3bae09;
  border: none;
  padding: 10px;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.active {
  background-color: #ffffff !important;
  color: #ffffff !important;
  width: 32px;

  border-radius: 10px;

}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.active span {
  background-color: #ffffff !important;
  color: #ffffff !important;
  height: 5px !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.active span {
  background-color: #ffffff !important;
  color: #000000 !important;
  height: 5px !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  //padding: 5px !important;
  background-color: #ffffff !important;
  //border: 1px solid red !important;
  color: #000000 !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
  text-align: center !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.owl-item.active.center {
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #b0b0b0 !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.owl-prev {
  right: -5rem;
}

.owl-next {
  left: -5rem;
}

.best-selling-products {
  margin-top: 100px;
  min-height: 500px;
  border: 1px solid red;
}

h2.title-best-selling-products {
  //margin: 10px;
  margin-left: 20px;
  display: inline;
  float: right;
}

.best-selling-products > .container {
  border: 1px solid red;
}

.box-title-best-selling-products > hr.line-best-selling-products {
  //margin-top: 50px;
  height: 35px;
  color: #c5bb90;
  background-color: #c5bb90 !important;
  border: 10px solid #c5bb90;
}

.owl-carousel-1 li a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.owl-carousel-1 li a p {
  color: #ffff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  background-color: #bd9e70;
}

.owl-carousel-1 > .owl-nav button.owl-next:hover, .owl-nav button.owl-prev:hover {
  background-color: #d5a761 !important;
}
.owl-carousel-1 >  .owl-nav button.owl-next,  .owl-nav button.owl-prev, .owl-carousel button.active{
  background-color: #ffffff !important;
  color: #ffffff !important;
  width: 32px;
  border-radius: 10px;
}







.owl-carousel-1 > .owl-nav button.owl-next, .owl-carousel-1 > .owl-nav button.owl-prev {
  //padding: 5px !important;
  background-color: #bd9e70 !important;
  //border: 1px solid red !important;
  color: #fff !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 0px !important;
  text-align: center !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}


//end index page


//end main pages
